#main-section .inner-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

body {
  background: #026ccc;
  background: -webkit-radial-gradient(top right, #026ccc, #0d0745);
  background: -moz-radial-gradient(top right, #026ccc, #0d0745);
  background: radial-gradient(to bottom left, #026ccc, #0d0745);
  color: #fff;
}

#hidden {
  display: none;
}

.video-container {
  max-width: 1600px;
  margin: auto;
  height: 100vh;
}

#photoshop-header::after,
#lightroom-header::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#photoshop-header {
  background: url('../img/photoshop-1.jpg');
  background-size: auto;
  position: relative;
  min-height: 700px;
  color: #fff;
}

#lightroom-header {
  background: url('../img/photoshop-1.jpg');
  background-size: auto;
  position: relative;
  min-height: 700px;
  color: #fff;
}

#photoshop-header > *,
#lightroom-header > * {
  z-index: 10;
  position: relative;
}

#photoshop-header .header-inner,
#lightroom-header .header-inner {
  padding-top: 40px;
}
